.vagrant
bootstrap.sh
CINS Servers Chart.vsdx
npm-debug.log
ubuntu-xenial-16.04-cloudimg-console.log
Vagrantfile
elasticsearch-5.2.2.tar.gz
elasticsearch-5.2.2
elasticsearch-5.2.2.zip
kibana-5.0.0-linux-x86_64.tar.gz
kibana-5.0.0-linux-x86_64