<nav id="topics-navigation" class="padding5">
      <div class="cell topics">
        <div class="cell user">
              <div id="login-register-button" class="padding10" (click)="setActiveNavigation('login')">
                <span class="mif-user"></span>
              </div>
            </div>
        <div class="cell main-topics">
              <div id="main-topic-menu">
                <ul class="v-menu darcula">
                  <li class="menu-title">Main Topics</li>
                  <li *ngFor="let mainTopic of mainTopics">
                    <a class="dropdown-toggle" (click)="setActiveNavigationMainTopic(mainTopic.maintopics)">
                      <span class="mif-{{mainTopic.Icon}} icon"></span>{{mainTopic.maintopics}}</a>
                  </li>
                </ul>
              </div>
            </div>
      </div>

      <div class="cell no-navigation" *ngIf="!navigation"></div>

      <div class="cell sub-topics" *ngIf="navigation === 'subTopics'">
        <div id="menu-tiles" class="tile-container" [ngClass]="activeNavigationMainTopic ? 'active' : ''">
            <a [routerLink]="['']" class="main-topic-tile padding5 no-padding-left no-padding-right fg-white bg-blue all" (click)="setCurrentSelectedSubTopic(null)">Reset All</a>
          <a [routerLink]="[subTopic.Name]" class="main-topic-tile padding5 no-padding-left no-padding-right fg-white"
               [ngClass]="[tilesTypes[i % tilesTypes.length], tilesColors[i % tilesColors.length]]" data-role="tile"
               *ngFor="let subTopic of allTopics[activeNavigationMainTopic]; let i = index"
               (click)="setCurrentSelectedSubTopic(subTopic)">
            <img src="assets/icons/{{subTopic.Name}}.png">
            {{subTopic.Name}}
          </a>
        </div>
      </div>
      <div class="cell user-login" *ngIf="navigation === 'login'">
        <div id="login-register" class="tile-container" [ngClass]="activeNavigationMainTopic ? 'active' : ''">
          <app-user-login></app-user-login>
        </div>
      </div>
</nav>

