.v-menu.darcula li.menu-title, .d-menu.darcula li.menu-title {
  color: white;
}
.v-menu.darcula li > a, .d-menu.darcula li > a {
  background: transparent;
  color: #ffffff;
}

.v-menu {
  background: transparent;
}
.v-menu .icon {
  width: 20%;
  height: 90%;
  color: #ffffff;
  background-color: #59cde2;
  max-height: 100%;
}
.v-menu .icon:before {
  vertical-align: middle;
}

.v-menu li a .icon, .v-menu li a img {
  top: 30%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-menu li {
  background: transparent!important;
}

.dropdown-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dropdown-toggle:hover {
  background: rgba(255,255,255,0.1)!important;
}

#menu-tiles {
  display: none;
}

#menu-tiles.active {
  display: block;
}

.sub-topics::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

.sub-topics::-webkit-scrollbar-thumb {
  background-color: #707070;
}

.sub-topics::-webkit-scrollbar-track {
  background-color: #4c4c4c;
}


.main-topic-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-topic-tile img {
  width: 100%;
}

.tile-large {
  font-size: 3em;
}

.tile-large img {
  max-width: 75%;
}

.tile-wide {
  font-size: 1.5em;
}

.tile-wide img {
  max-width: 40%;
}

.tile-square {
  font-size: 1.5em;
}

.tile-square img {
  max-width: 85%;
  max-height: 85%;
}

.tile-small {
  font-size: 0.75em;
}

.tile-small img {
  width: 70%;
}

#login-register-button {
  text-align: center;
}

#login-register-button .mif-user {
  background: gray;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

#login-register-button:hover {
  background-color: rgba(255, 255, 255, 0.25)!important;
  cursor: pointer;
}

#topics-navigation {
  display: flex;
}

.topics {
  flex: 3;
  display: flex;
}

.sub-topics, .user-login, .no-navigation, .main-topics {
  flex: 3;
}

.user {
  flex: 1;
}

.sub-topics {
  height: 54vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.v-menu li a {
  padding: 0rem 0rem 0rem 3vw;
  height: 4vh;
  line-height: 4vh;
  /*min-width: 0;*/
}

.v-menu {
  /*max-width: none;*/
}


@media only screen and (min-width: 0px) and (max-width: 480px) {
  .main-topic-tile i {
    width: 2em!important;
    font-size: 3em!important;
  }

  .main-topic-tile img {
    max-width: 50%;
  }

  .v-menu li a {
    padding: 0rem 0rem 0rem 11vw;
    height: 7vh;
    line-height: 7vh;
    font-size: 75%;
    min-width: 100%;
  }


  .main-topic-tile {
    width: inherit;
    height: inherit;
    font-size: 3vw;
  }



  .sub-topics {
    height: 90vh;
  }

  .v-menu .icon {
    width: 10vw;
    height: 10vw;
  }
}
