.v-menu.darcula li.menu-title, .d-menu.darcula li.menu-title {
  color: white;
}
.v-menu.darcula li > a, .d-menu.darcula li > a {
  background: transparent;
  color: #ffffff;
}

.v-menu {
  background: transparent;
}
.v-menu .icon {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  background-color: #59cde2;
  max-height: 100%;
}
.v-menu .icon:before {
  vertical-align: middle;
}

.v-menu li a .icon, .v-menu li a img {
  top: 40%;
  left: 0;
}

.v-menu li {
  background: transparent!important;
}

.dropdown-toggle {
  /*padding: 0 0 0 20%;*/
}

.dropdown-toggle:hover {
  background: rgba(255,255,255,0.1)!important;
}

#menu-tiles {
  display: none;
  /*height: 54vh;*/

}

#menu-tiles.active {
  display: block;
  overflow-y: auto;
}

#menu-tiles.active::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#menu-tiles.active::-webkit-scrollbar-thumb {
  background-color: #707070;
}

#menu-tiles.active::-webkit-scrollbar-track {
  background-color: #4c4c4c;
}


.main-topic-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-topic-tile img {
  width: 100%;
}

.tile-large {
  font-size: 3em;
}

.tile-large img {
  max-width: 75%;
}

.tile-wide {
  font-size: 1.5em;
}

.tile-wide img {
  max-width: 40%;
}

.tile-square {
  font-size: 1.5em;
}

.tile-square img {
  max-width: 85%;
  max-height: 85%;
}

.tile-small {
  font-size: 0.75em;
}

.tile-small img {
  width: 70%;
}

#login-register-button {
  text-align: center;
}

#login-register-button .mif-user {
  background: gray;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

#login-register-button:hover {
  background-color: rgba(255, 255, 255, 0.25)!important;
  cursor: pointer;
}

#topics-navigation {
  display: flex;
}

.topics {
  flex: 1;
  display: flex;
}

.sub-topics, .user-login, .no-navigation {
  flex: 2;
}

.user {
  flex: 1;
}

.main-topics {
  flex: 10;
}

.sub-topics {
  height: 54vh;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .main-topic-tile i {
    width: 2em!important;
    font-size: 3em!important;
  }

  .main-topic-tile img {
    max-width: 50%;
  }

  .v-menu li a {
    padding: .75rem 0rem .75rem 2.5rem;
    min-width: 9rem;
    font-size: 75%;
  }

  .main-topic-tile {
    width: inherit;
    height: inherit;
    font-size: 1em;
  }

  #menu-tiles.active {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sub-topics {
    height: 91vh;
  }
}
