<div class="listview-outlook" data-role="listview" id="video-modal">

  <div>
    <h2>{{dataService.currentSelectedSubTopic.Name}}</h2>
    <button
      [ngClass]="dataService.filter === 'All' ? 'button primary block-shadow-info  text-shadow' : 'button primary'"
      (click)="dataService.setFilter('All')">All
    </button>
    <button
      [ngClass]="dataService.filter === 'Article' ? 'button primary block-shadow-info  text-shadow' : 'button primary'"
      (click)="dataService.setFilter('Article')">Articles
    </button>
    <button
      [ngClass]="dataService.filter === 'Video' ? 'button primary block-shadow-info  text-shadow' : 'button primary'"
      (click)="dataService.setFilter('Video')">Videos
    </button>
    <span *ngIf="dataService.currentSelectedSubTopic.Name !== 'Latest Media' && dataService.userDetails">
      <button
        *ngIf="dataService.userDetails.subTopicsSaveIds && dataService.userDetails.subTopicsSaveIds.data && !dataService.userDetails.subTopicsSaveIds.data.includes(dataService.currentSelectedSubTopic.Id)"
        class="image-button"
        (click)="postUserTopicsSave(dataService.userDetails.data.Id, dataService.currentSelectedSubTopic.Id)">
        Save
        <span class="icon mif-plus"></span>
      </button>

      <button
        *ngIf="dataService.userDetails.subTopicsSaveIds && dataService.userDetails.subTopicsSaveIds.data && dataService.userDetails.subTopicsSaveIds.data.includes(dataService.currentSelectedSubTopic.Id)"
        class="image-button"
        (click)="deleteUserTopicsSave(dataService.userDetails.data.Id, dataService.currentSelectedSubTopic.Id)">
        Remove
        <span class="icon mif-minus"></span>
      </button>
    </span>


  </div>
  <div class="list"
       *ngFor="let currentSelectedSubTopicMediaFilteredItem of dataService.currentSelectedSubTopicMediaFiltered">
    <div class="list-content" (click)="dataService.openMedia(currentSelectedSubTopicMediaFilteredItem)">
      <div class="image-container rounded image-format-hd">
        <div class="frame" data-role="tile">
          <img src="{{currentSelectedSubTopicMediaFilteredItem.ImageUrl}}">
          <div class="media-info">
            <span class="list-title">{{currentSelectedSubTopicMediaFilteredItem.Title}}</span>
            <span class="list-subtitle">{{currentSelectedSubTopicMediaFilteredItem.Description}}</span>
            <span class="list-remark">{{currentSelectedSubTopicMediaFilteredItem.Source}}</span>
            <span class="list-remark">{{currentSelectedSubTopicMediaFilteredItem.PublishedAt}}</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<app-video-modal *ngIf="dataService.isVideoModalOpen"></app-video-modal>
