<div class="cell">
  <ul class="sidebar2 dark">
    <li class="title">Topics</li>
    <li class="stick bg-green" *ngFor="let mainTopic of mainTopics">
      <a class="dropdown-toggle"><span class="mif-tree icon"></span>{{mainTopic}}</a>
      <ul class="d-menu" data-role="dropdown" style="display: none;">
        <li *ngFor="let subTopic of allTopics[mainTopic]"><a (click)="setCurrentSelectedSubTopic(subTopic)"><span class="mif-vpn-publ icon"></span>{{subTopic.Name}}</a></li>
      </ul>
    </li>
  </ul>
</div>
