.panel .title, .panel .content, .panel .mif-expand-less {
  cursor: pointer;
}

.heading {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


.heading .icon, .heading .btn-max, .heading .mif-floppy-disk {
  flex: 1;
  position: inherit;
}

.heading .title {
  flex: 19;
  flex-shrink: 1;
  padding-right: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.heading .title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-max {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .mif-floppy-disk {
  cursor: pointer;
}

.content {
  display: flex;
}

.frame {
  background-color: transparent;
}

.image-overlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description {
  font-size: calc(1vw + 50%);
  flex: 20;
}

.description p {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.image {
  text-align: center;
  flex: 1;
}

.panel>.heading>.icon+.title {
  margin-left: 1em;
  font-size: calc(40% + 0.75vw)!important;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .title {
    font-size: 2.5vh;
    height: 80%!important;
  }

  .heading {
    padding: .625rem 0;
  }

  h5 {
    margin: 0;
  }

  .description {
    flex: 20;
  }

  .image {
    flex: 2;
  }
}
