<div class="options padding5">
  <h2>{{dataService.currentSelectedSubTopic.Name === 'Latest Media' ? (dataService.userDetails && dataService.userDetails.subTopicsSaveIds.data.length ? 'My Media' : dataService.currentSelectedSubTopic.Name) : dataService.currentSelectedSubTopic.Name}}</h2>
  <button class="image-button"
    [ngClass]="dataService.filter === 'All' ? 'button primary block-shadow-info  text-shadow' : 'button primary'"
    (click)="dataService.setFilter('All')">All
    <span class="icon mif-books"></span>
  </button>
  <button class="image-button"
    [ngClass]="dataService.filter === 'Article' ? 'button primary block-shadow-info  text-shadow' : 'button primary'"
    (click)="dataService.setFilter('Article')">Articles
    <span class="icon mif-file-binary"></span>
  </button>
  <button class="image-button"
    [ngClass]="dataService.filter === 'Video' ? 'button primary block-shadow-info  text-shadow' : 'button primary'"
    (click)="dataService.setFilter('Video')">Videos
    <span class="icon mif-file-play"></span>
  </button>
  <span *ngIf="dataService.currentSelectedSubTopic.Name !== 'Latest Media' && dataService.userDetails">
      <button
        *ngIf="dataService.userDetails.subTopicsSaveIds && dataService.userDetails.subTopicsSaveIds.data && !dataService.userDetails.subTopicsSaveIds.data.includes(dataService.currentSelectedSubTopic.Id)"
        class="image-button"
        (click)="postUserTopicsSave(dataService.userDetails.data.Id, dataService.currentSelectedSubTopic.Id)">
        Save
        <span class="icon mif-plus"></span>
      </button>

      <button
        *ngIf="dataService.userDetails.subTopicsSaveIds && dataService.userDetails.subTopicsSaveIds.data && dataService.userDetails.subTopicsSaveIds.data.includes(dataService.currentSelectedSubTopic.Id)"
        class="image-button"
        (click)="deleteUserTopicsSave(dataService.userDetails.data.Id, dataService.currentSelectedSubTopic.Id)">
        Remove
        <span class="icon mif-minus"></span>
      </button>
    </span>
  <a href="/api/rss/{{dataService.userDetails.data.Id}}" target="_blank" *ngIf="dataService.userDetails">
    <button class="image-button button warning text-shadow"
            (click)="dataService.setFilter('Video')">RSS
      <span class="icon mif-feed3"></span>
    </button>
  </a>
</div>


<div class="results padding5">
<div class="panel no-margin-top no-margin-right no-margin-left margin10" *ngFor="let currentSelectedSubTopicMediaFilteredItem of dataService.currentSelectedSubTopicMediaFiltered">
  <div class="heading">
    <span class="icon" [ngClass]="currentSelectedSubTopicMediaFilteredItem.Type === 'Article' ? 'mif-file-binary' : 'mif-file-play'"></span>
    <span class="title" (click)="dataService.openMedia(currentSelectedSubTopicMediaFilteredItem)">{{currentSelectedSubTopicMediaFilteredItem.Title}}</span>

    <span class="btn-max fg-white text-shadow icon" (click)="rateMedia(currentSelectedSubTopicMediaFilteredItem.Id)" [ngClass]="dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id] && dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id].code === 200 ? 'bg-darkGreen' : dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id] && dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id].code !== 200 ? 'bg-darkRed' : ''" >
      <span class="window-icon" [ngClass]="dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id] ? '' : 'icon mif-expand-less'">{{dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id] && dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id].ratedMediaCount ? dataService.ratedMedia[currentSelectedSubTopicMediaFilteredItem.Id].ratedMediaCount : ''}}</span>
    </span>
    <span *ngIf="dataService.userDetails" class="icon mif-floppy-disk" (click)="postUserMediaSave(dataService.userDetails.data.Id, currentSelectedSubTopicMediaFilteredItem.Id)"></span>
  </div>

  <div class="content padding5" (click)="dataService.openMedia(currentSelectedSubTopicMediaFilteredItem)">
        <div class="cell image">
          <div class="image-container">
            <div class="frame">
              <img src="assets/icons/{{currentSelectedSubTopicMediaFilteredItem.SubTopicName}}.png" />
            </div>
          </div>
        </div>
        <div class="cell description padding5 no-padding-top no-padding-bottom">
          <h5>
            <span class="mif-calendar"></span> {{currentSelectedSubTopicMediaFilteredItem.PublishedAt}}
            <span class="mif-info margin10 no-margin-bottom no-margin-right no-margin-top"></span> {{currentSelectedSubTopicMediaFilteredItem.Source}}
          </h5>
          <div><p class="text-default">{{currentSelectedSubTopicMediaFilteredItem.Description || '(No Description)' | trim}}</p></div>
        </div>
  </div>
</div>
</div>
