.window-content {
  height: 100%!important;
}

.bg-grayDark input {
  /*background-color: #333333 !important;*/
}

button {
  margin: 0 auto;
  /*display: block;*/
}

.window-caption {
  line-height: 16px;
}

.window {
  height: 100%;
}

.window.warning {
  box-shadow: none;
}
.panel {
  width: 85%;
}

.panel .input-control {
  display: block;
  width: 100%;
}

button {
  width: 100%;
}


/*@media only screen and (min-width: 0px) and (max-width: 480px) {*/

  /*.panel {*/
    /*width: 85%;*/
  /*}*/
/*}*/
