.window-content {
  height: 100%!important;
}

button {
  margin: 0 auto;
  width: 100%;
}

.window-caption {
  line-height: 16px;
}

.window {
  height: 100%;
}

.window.warning {
  box-shadow: none;
}

.panel .input-control {
  display: block;
  width: 100%;

}

.my-topics .heading {
  display: flex;
  -webkit-box-align: center;
  padding: 0;
}

.my-topics .heading .icon {
  position: inherit;
  flex: 1;
  cursor: pointer;
}

.my-topics .heading .title {
  position: inherit;
  flex: 10;
  margin-left: 1em;
  line-height: 200%;
}
